---
title: Xuan.Z
layout: layouts/base
permalink: /{{ locale }}/post/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html
pagination:
  data: collections.posts_fr
  size: 3
  alias: posts
  reverse: true
---

<div class="section container">
  <ul role="list" class="articles_list flow">
    {%- for post in posts -%} {% include 'layouts/article-snippet.njk' %} {%-
    endfor -%}
  </ul>
</div>

{% include 'layouts/pagination.njk' %}
