:root {
  --hover-brightness: 1.2;
}

h1 {
  font-size: 2.5rem !important;
}

h2 {
  font-size: 2rem !important;
}

h3 {
  font-size: 1.75rem !important;
}

h4 {
  font-size: 1.5rem !important;
}

h5 {
  font-size: 1.25rem !important;
}

h6,
p {
  font-size: 1rem !important;
}

.btn {
  padding: 0.75rem 0.75rem !important;
}

.btn.font-weight-bold:hover,
.btn.font-weight-bold:focus,
.btn.font-weight-bold:focus-within {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}

/* Article List Card */
#article-list-card .card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#article-list-card .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Pagination */

.pagination .page-link {
  background-color: var(--bs-info);
}

.pagination .page-link:hover,
.pagination .page-link:focus-within,
.pagination .page-link:focus {
  background-color: var(--bs-info);
  color: var(--bs-white);
  filter: brightness(var(--hover-brightness));
}

.pagination .page-item.active .page-link {
  background-color: var(--bs-info);
  filter: brightness(var(--hover-brightness));
}
