---
title: Xuan.Z
layout: layouts/base
permalink: /{{ locale }}/projects/index.html
---

<div class="container-fluid w-75">
  <ul class="list-group mx-auto w-75">
    {%- for project in collections.projects_en -%} {% include
    'layouts/project-card.njk' %} {%- endfor -%}
  </ul>
</div>
