{% set pageUrl = page.url.split('/').slice(2).join('/').replace('/', '') %}

<header class="card container-fluid w-50 mb-5" id="nav-header-container">
  <div class="container-fluid w-75" >
    <div class="justify-content-center" id="menu-canvas">
      <canvas />
      <form onsubmit="init(event)">
        <input
          type="text"
          id="textInput"
          maxlength="90"
          placeholder="Random text"
        />
      </form>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-transparent">
    <ul class="nav container-fluid w-50 justify-content-center">
      <li class="nav-item">
        <a href="/" class="btn font-weight-bold">{{ "landing" | i18n }}</a>
      </li>

      <li class="nav-item">
      <a href="/{{ locale }}/home" {% if pageUrl == 'home' %} class="btn font-weight-bold nav-link active" {% else %} class="btn font-weight-bold" {% endif %}>{{ "home" | i18n }}</a>
        
      </li>

      <li class="nav-item">
      <a href="/{{ locale }}/projects" {% if pageUrl == 'projects' %}  class="btn font-weight-bold nav-link active" {% else %}  class="btn font-weight-bold" {% endif %}>{{ "projects" | i18n }}</a>
        
      </li>

      <li class="nav-item">
      <a href="/{{ locale }}/posts" {% if pageUrl == 'posts' %}  class="btn font-weight-bold nav-link active" {% else %}   class="btn font-weight-bold"  {% endif %}>{{ "posts" | i18n }}</a>
        
      </li>

      <li class="nav-item">
        <a
        href="https://github.com/Radeonxz"
        target="_blank"
        class="btn font-weight-bold"
        ><i class="fab fa-github"></i
      ></a>
      </li>

      <li class="nav-item dropdown">
        <a class="btn font-weight-bold" data-toggle="dropdown" href="" role="button"><i class="fas fa-globe"></i
          ></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/en/{{ pageUrl }}">English</a>
          <a class="dropdown-item" href="/fr/{{ pageUrl }}">Français</a>
        </div>
      </li>

      <li class="nav-item">
        <a
        href=""
        class="btn font-weight-bold"
        id="theme-switch"
        onclick="toggleTheme();"
      ></a>
      </li>
    
  
    </ul>
  </nav>
</header>
