<div
    class="position-fixed bottom-0 end-0 p-3"
    style="z-index: 11"
    id="toast-info"
  >
    <div
      id="liveToast"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      data-bs-delay="30000"
    >
      <div class="toast-header">
        <i class="fas fa-info-circle"></i>
        <strong class="me-auto">{{ "toastHomeInfoDesc" | i18n }}</strong>
        <button type="button" data-bs-dismiss="toast">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="toast-body"><div>
        {{ "toastHomeLocale" | i18n }}
      </div><div>
        {{ "toastHomeTheme" | i18n }}
      </div></div>
    </div>
  </div>
</div>